@model IEnumerable<savemoney.Models.Receita>

    @{
        ViewData["Title"] = "Receitas";
    }

    <h1>Receitas</h1>

    <p><a class="btn btn-primary" asp-action="Create">Cadastrar nova receita</a></p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Título</th>
                <th>Valor</th>
                <th>Data</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr> 
                <td>@item.Titulo</td>
                <td>@item.Valor.ToString("C")</td>
                <td>@item.Data.ToShortDateString()</td>
                <td>@item.Categoria</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
        </tbody>
    </table>